@tailwind base;
@tailwind components;
@tailwind utilities;

/* 底下保留你之前的自定義樣式 */
body {
  @apply bg-gray-50 text-slate-900;
  -webkit-tap-highlight-color: transparent;
}

.btn-active-effect:active {
  transform: scale(0.96);
  transition: transform 0.1s;
}