@import "tailwindcss";


body {
  @apply bg-gray-50 text-slate-900;
  -webkit-tap-highlight-color: transparent;
}

.btn-active-effect:active {
  transform: scale(0.96);
  transition: transform 0.1s;
}